{% extends "bootstrap/base.html" %}

{% block title %}DiamondYou{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">DiamondYou</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">主页</a>
                <li><a href="/user/zhuxin">用户</a></li>
                <li><a href="#">博客</a></li>
                <li><a href="#">视频</a></li>
                <li><a href="#">音乐</a></li>
                <li><a href="#">游戏</a></li>

            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
{% endblock %}
